@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@700;800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,700;1,700&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(176, 2, 68, 0.8),
        hsla(232, 83%, 30%, 0.8)
    )!important;
}